body {
    overflow: hidden;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1vh auto 9vh;
    width: 85vw;
    height: 90vh;
    background-color: black;
    border: solid 0.4rem lightgrey;
    border-radius: 3vh;
    padding: 3vh;
    gap: 5vh;
}

input {
   display: none;
}

.slider-wrapper {
    width: 70vw;
    height: 70vw;
    overflow: hidden;
    border-radius: 3vh;
}

.slider {
    display: inline-flex;
    transition: all 1s;
}

.slide {
    width: 70vw;
    height: 70vw;
    border-radius: 3vh;
    background-repeat: no-repeat;
    background-size: contain;
}

/* .slide.c1 {
    background-image: url(./assets/Corvette-C1-1962.jpg);
} */

.slide img {
    width: 100%;
    height: auto;
    border-radius: 3vh;
}

/* .slide.c2 {
    background-image: url(./assets/Corvette-C2-Coupe.jpg);
} */

/* .slide.c3 {
    background-image: url(./assets/Corvette-C3-Coupe.jpg);
}

.slide.c4 {
    background-image: url(./assets/Corvette-C4-Cabrio.jpg);
}

.slide.c5 {
    background-image: url(./assets/Corvette-C5-Coupe.jpg);
}

.slide.c6 {
    background-image: url(./assets/Corvette-C6-Coupe.jpg);
}

.slide.c7 {
    background-image: url(./assets/Corvette-C7.jpg);
}

.slide.c8 {
    background-image: url(./assets/Corvette-C8.jpg);
} */

.footer {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-bottom: 3vh;
    margin-left: 2vh;
}

.text-box {
    width: 100%;
    align-self: center;
}

.text {
    color: white;
    font-size: 0;
    transition: all 1s;
}

.switchers {
    display: flex;
}

.switcher {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

label {
    width: 5vh;
    height: 6vh;
}

.label {
    width: 2vh;
    height: 2vh;
    border: solid 0.2rem gray;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: opacity .3s;
}

.switcher:hover .label{
    background-color: white;
    border-color: white;
}

input#c1:checked ~ .slider-wrapper .slider {
    margin-left: 0%;
}

input#c1:checked ~ .footer .text-box .text.c1 {
    font-size: 1.8rem;
}

input#c1:checked ~ .footer .switchers label[for="c1"] .label {
    background-color: aqua;
    border-color: aqua;
}

input#c2:checked ~ .slider-wrapper .slider {
    margin-left: -100%;
}

input#c2:checked ~ .footer .text-box .text.c2 {
    font-size: 1.8rem;
}

input#c2:checked ~ .footer .switchers label[for="c2"] .label {
    background-color: aqua;
    border-color: aqua;
}

input#c3:checked ~ .slider-wrapper .slider {
    margin-left: -200%;
}

input#c3:checked ~ .footer .text-box .text.c3 {
    font-size: 1.8rem;
}

input#c3:checked ~ .footer .switchers label[for="c3"] .label {
    background-color: aqua;
    border-color: aqua;
}

input#c4:checked ~ .slider-wrapper .slider {
    margin-left: -300%;
}

input#c4:checked ~ .footer .text-box .text.c4 {
    font-size: 1.8rem;
}

input#c4:checked ~ .footer .switchers label[for="c4"] .label {
    background-color: aqua;
    border-color: aqua;
}

input#c5:checked ~ .slider-wrapper .slider {
    margin-left: -400%;
}

input#c5:checked ~ .footer .text-box .text.c5 {
    font-size: 1.8rem;
}

input#c5:checked ~ .footer .switchers label[for="c5"] .label {
    background-color: aqua;
    border-color: aqua;
}

input#c6:checked ~ .slider-wrapper .slider {
    margin-left: -500%;
}

input#c6:checked ~ .footer .text-box .text.c6 {
    font-size: 1.8rem;
}

input#c6:checked ~ .footer .switchers label[for="c6"] .label {
    background-color: aqua;
    border-color: aqua;
}

input#c7:checked ~ .slider-wrapper .slider {
    margin-left: -600%;
}

input#c7:checked ~ .footer .text-box .text.c7 {
    font-size: 1.8rem;
}

input#c7:checked ~ .footer .switchers label[for="c7"] .label {
    background-color: aqua;
    border-color: aqua;
}

input#c8:checked ~ .slider-wrapper .slider {
    margin-left: -700%;
}

input#c8:checked ~ .footer .text-box .text.c8 {
    font-size: 1.8rem;
}

input#c8:checked ~ .footer .switchers label[for="c8"] .label {
    background-color: aqua;
    border-color: aqua;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .switchers {
        order: 1;
    }

    .text-box {
        order: 2;
    }
}
